<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <div class="header">
    <a href="#default" class="logo">Rock Paper Scissors</a>
    <div class="header-right">
      <a class="active" href="#home">Home</a>
    </div>
  </div>

  <h1>CHOOSE YOUR HAND</h1>

  <table class="hand-choice">
    <tr>
      <button class="header hand-form zoom" (click)="rockChoice()">✊</button>
      <th></th>
      <button class="header hand-form zoom" (click)="paperChoice()">✋</button>
      <th></th>
      <button class="header hand-form zoom" (click)="scissorChoice()">✌️</button>
    </tr>
  </table>

  <h2>{{resultMsg}}</h2>

  <table class="results">
    <tr>
      <th class="result-form">{{pResult}}</th>
      <th class="result-form">{{cResult}}</th>
    </tr>
    <tr>
      <th class="result-tracker">Player: {{pWins}}</th>
      <th class="result-tracker">Computer: {{cWins}}</th>
    </tr>
  </table>

  <div id="pop-up" *ngIf="winResult()">
    <div class="result-display">You won the game!
      <div><button class="btn-style" (click)="playAgain()">play again?</button>
      </div>
    </div>
  </div>
  <div id="pop-up" *ngIf="loseResult()">
      <div class="result-display">You lost the game! 
        <div><button class="btn-style" (click)="playAgain()">play again?</button>
        </div>
      </div>
  </div>

</body>
</html>